.footer--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8% 11.1%;
    background: linear-gradient(to top, rgba(77, 150, 169, .9),rgba(77, 150, 169, .9)), url(../../../public/images/desktop/image-footer.jpg) no-repeat top center;
    background-repeat: no-repeat;
    color: white;
    margin-top: -3rem;
    width: 100%;
    background-size: cover;
}


.footer--container h1{
    font-size: 4.0rem;
    font-weight: 900;
    line-height: 4.4rem;
    width: 26%;
}

.footer--container h2{
    font-size: 1.8rem;
    font-weight: 500;
    width: 31%;
}

.footer--container button{
    padding: 1.6rem 4rem;
    border-radius: 2.9rem;
    background-color: #855FB1;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2.6rem;
    color: white;
    display: flex;
    gap: 0 .4rem;
}

.footer--container span{
    color: #D9B8FF;
}


@media (max-width:1000px) {
    .footer--container h1{
        font-size: 3.0rem;
    line-height: 3.4rem;

    }

    /* .footer--container h2{
        font-size: 1.5rem;
    } */

    /* padding: 8% 11.1%; */
    .footer--container{
        padding: 8% 3.1%;
    }
}

